:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

@font-face{
    font-family: myfont;
    src: url(assets/fonts/static/Figtree-SemiBold.ttf);
}

@font-face{
    font-family: myfontBold;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}

*{
    font-family: myfont;
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    background-color: var(--Yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.card{
    max-width: 350px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 10px 10px;
    cursor: pointer;
}

.card-img img{
    width: 100%;
    border-radius: 20px;
}

.card-img{
    padding: 20px;
}

.card-body, .card-footer{
    padding: 20px;
}

button{
    padding: 8px 18px;
    background-color: var(--Yellow);
    border-radius: 5px;
    outline: none;
    border: none;
    font-style: 900;
}

.card-body p {
    color: var(--Grey);
    font-size: 15px;
    word-spacing: 2px;
    line-height: 25px;
}

.card-section{
    padding: 0px 20px;
}

.card-section button{
    margin-bottom: 10px;
    font-family: myfontBold !important;
    font-weight: 900;
}

.card-body h2{
    margin-bottom: 15px;
    font-family: myfontBold !important;
    font-weight: 900;
}

.card-footer img{
    width: 40px;
    margin-right: 10px;
}

.card-footer{
    margin-top: -20px;
}

.avatarimg{
    display: flex;
    align-items: center;
}

.card-footer p{
    font-family: myfontBold !important;
    font-weight: 900;
}

.attribution{
   margin-top: 20px;

}